/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON 
   MODIFIED BY JON MOORE FOR PERSONAL USE   
*/

* {
  margin:0;
  padding:0;
  outline:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  line-height:1;
}

blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

/* remember to highlight inserts somehow! */
ins {
  font-style:italic;
}

del {
  text-decoration: line-through;
}

p {
  margin:0 0 12px 0;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/*DEFAULT CONTENSIS STYLES*/
.floatright {
    float: right;
    margin:0 0 20px 20px;
}

.floatleft {
    float:left;
    margin:0 20px 20px 0;
}

.floatimageright {
    float:right;
    margin:0 0 20px 20px;
}

.floatimageleft {
    float:left;
    margin:0 20px 20px 0;
}

/*CONTAINER STYLES*/
#container {
  margin:0 auto;
  display:block;
  clear:both;
}

/*EXTRAS*/
.sys_clear {
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    clear: both; 
    font-size: 0;
    line-height: 0;
}