<div class="footer">
    <a class="back-top" href="#"> Back to top</a>

    <div class="mobile-footer">
        <span class="nav-title">Contact &amp; Policy<span class="icon-expand"></span></span>

        <ul class="grid-8 footer-links">
            <li class="grid-2"><span><a href="http://www.bbc.co.uk">Contact us</a></span></li>
            <li class="grid-2"><span><a href="#">Freedom of Information</a></span></li>
            <li class="grid-2"><span><a href="#">Disclaimer</a></span></li>
            <li class="grid-2"><span><a href="#">Cookie policy</a></span></li>
        </ul>
    </div>

    <div class="bottom grid-8">
        <div class="grid-2 copyright">
            <p>&copy; Portsmouth City Council 2013</p>
        </div>

        <ul class="grid-2 social">
            <li><a href="#" class="facebook icon-facebook">Facebook</a></li>
            <li><a href="#" class="twitter icon-twitter">Twitter</a></li>
            <li><a href="#" class="flickr icon-flickr">Flickr</a></li>
        </ul>

        <a href="https://www.gov.uk" target="_blank" class="gov icon-gov">gov.uk</a>
    </div>
</div>