{% block headline %}
    <div class="homepage-title">
        <h1 class="kilo">Welcome to Portsmouth City Council’s all new website!
            <span><a href="#">Take the tour.</a></span><span class="icon-expand"></span></h1>
    </div>
{% endblock %}

{% block mainText %}
    <div class="tabs-module">
        <h2 class="title">Popular topics</h2>

        <div class="grid-8 tab-title js-tab-area">
            <a class="gamma grid-2 js-tab-control">For Residents<span class="icon-arrow-down"></span></a>
            <a class="gamma grid-2 js-tab-control">For Business<span class="icon-arrow-down"></span></a>
            <a class="gamma grid-2 js-tab-control">For Visitors<span class="icon-arrow-down"></span></a>
            <a class="gamma grid-2 js-tab-control">For Parents<span class="icon-arrow-down"></span></a>

            <ul class="tab-list grid-8 js-tab-content">
                    <li class="grid-2"><span class="first-row"><a href="http://www.bbc.co.uk" class="underline">Make a council tax payment</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Roadworks in my area</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Find my bin collection days</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Leisure services near me</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Pay a council tax over 12 months</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Pay a parking ticket</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Dispose of garden waste</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Book pest control</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Can I get a discount on my council tax?</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Find out if I need planning permission</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Book a special rubbish collection</a></span></li>
                <li class="grid-2"><span><a href="#" class="button">See more topics</a></span></li>
            </ul>

            <ul class="tab-list grid-8 js-tab-content">
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Dapibus Sollicitudin</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Mattis Cras Tellus</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Magna Fermentum Porta Elit</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Aenean Ipsum</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Quam Condimentum Adipiscing</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Mattis Elit</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Vehicula Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Risus Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Tortor Sit Mollis</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Ultricies Tristique</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Consectetur Vestibulum Nibh</a></span></li>
                <li class="grid-2"><span><a href="#" class="button">Ridiculus Vehicula</a></span></li>
            </ul>

            <ul class="tab-list grid-8 js-tab-content">
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Dapibus Sollicitudin</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Mattis Cras Tellus</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Magna Fermentum Porta Elit</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Aenean Ipsum</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Quam Condimentum Adipiscing</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Mattis Elit</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Vehicula Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Risus Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Tortor Sit Mollis</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Ultricies Tristique</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Consectetur Vestibulum Nibh</a></span></li>
                <li class="grid-2"><span><a href="#" class="button">Ridiculus Vehicula</a></span></li>
            </ul>

            <ul class="tab-list grid-8 js-tab-content">
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Dapibus Sollicitudin</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Mattis Cras Tellus</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Magna Fermentum Porta Elit</a></span></li>
                <li class="grid-2"><span class="first-row"><a href="#" class="underline">Aenean Ipsum</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Quam Condimentum Adipiscing</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Mattis Elit</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Vehicula Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Risus Ligula Cras</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Tortor Sit Mollis</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Ultricies Tristique</a></span></li>
                <li class="grid-2"><span><a href="#" class="underline">Consectetur Vestibulum Nibh</a></span></li>
                <li class="grid-2"><span><a href="#" class="button">Ridiculus Vehicula</a></span></li>
            </ul>

        </div>
    </div>

{% endblock %}