
/* $Contact-Module
================================================== */

.contact-module {
	overflow: hidden;
}

.contact-module .intro-container {
	overflow: hidden;
}

.contact-module .mail-phone {
	margin-bottom: 0;
}

