
/* $Login-Register-Module
================================================== */

.login-module .title,
.login-module .login-form {
	margin-right: 1px;
}

.login-module .action-container,
.register-module .action-container {
	float: right;
}

.login-module a {
	margin: 15px 20px;
	display: inline-block;
}