@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 247px;
    padding: 20px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: $font-regular;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-family: $font-light;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    top: 7px;
    outline: none;
    border: 0;
    padding: 0;
    width: 7px;
    height: 13px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('#{$assetspath}/img/spritemap.png');
    background-position: -200px -700px;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
	background-image: url('#{$assetspath}/img/spritemap.png');
    background-position: -200px -800px;
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
}

.pika-table th {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.pika-table th abbr {
	border-bottom: none;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
    line-height: 15px;
    text-align: middle;
    background: transparent;
}

.is-today .pika-button {
    background: $bg-button;
}

.is-selected .pika-button {
  	background: $bg-button;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    opacity: .5;
}

.pika-button:hover {
    background: $bg-tab !important;
    box-shadow: none !important;
}