
/* $Register-Login-Module
================================================== */

.register-login-module {
	font-family: $font-light;
}

.register-login-module p {
	display: block;
	background: #fff;
	padding: 17px 20px;
	margin: 0;
}

.register-login-module .login a {
	margin-right: 0;
}