
/* $Images
================================================== */

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Corrects overflow displayed oddly in IE 9 */
svg:not(:root) {
    overflow: hidden;
}

/* Responsive image wrap */
.image-wrap {
	display: block;
	line-height: 0;
}

.image-wrap img {
	width: 100%;
    height: auto;
    vertical-align: bottom;
    line-height: 0;
}

/*Branding image style */
.branding-image-container {
	border-left: 1px solid $border-main;
	min-height: 89px;
}

.branding-image-container img {
	padding: 20px;
}

