<div class="header gamma">
            <img alt="Portsmouth city council" title="Portsmouth city council" src="img/logo-print.png" class="logo-print">

            <a href="/home" class="grid-4 logo">
                <span class="icon-logo">Portsmouth city council</span>
            </a>

            <div class="search-account grid-4">
                <div class="grid-8 search-form">
                    <div class="sys_search-query-control">
                        <label for="HeaderSearchQueryControl_SearchTextBox" class="sys_search-label">Search</label>
                        <input name="HeaderSearchQueryControl_SearchTextBox" type="text" value="Enter Keywords" id="HeaderSearchQueryControl_SearchTextBox" class="sys_searchbox" onkeypress="ContensisSubmitFromTextbox(event,'HeaderSearchQueryControl_SearchButton')" />
                        <input type="submit" name="HeaderSearchQueryControl_SearchButton" value="Search" id="HeaderSearchQueryControl_SearchButton" title="Search" class="sys_button sys_searchbutton sys_search-button" />
                    </div>

                    <div class="search-list grid-8" style="display:none;">
                        <ul>
                            <li><a href="#">Find School <b>Bus</b> Routes</a></li>
                            <li><a href="#">Information for <b>Bus</b></a></li>
                            <li><a href="#"><b>Bus</b>iness Rates - Payments and Information</a></li>
                            <li><a href="#">Companion <b>bus</b> pass</a></li>
                        </ul>
                    </div>
                </div>
                <ul id="LiveSearchResults">
                    <li>Popular School Page 1</li>
                    <li>Popular School Page 1</li>
                    <li>Popular School Page 1</li>
                    <li>School-transport-policy-documents</li>
                    <li>School-Specific-Admissions-Policies-2011-2012</li>
                    <li>Sustainable-School-Travel-Strategy</li>
                    <li>School-Specific-Admissions-Policies-2012-2013</li>
                    <li>Scheme-for-financing-schools</li>
                    <li>Section-52/251-Education-Budget-Statements-and-School-Budget-Share-Totals</li>
                    <li>Draft-School-Organisation-Plan---July-2012</li>
                </ul>
            </div>

            <div class="mobile-nav grid-4"><span class="nav-title">Actions &amp; Directory<span class="icon-expand"></span></span>
                <div class="mobile-nav-container">
                    <div class="grid-4 register right">
                        <span>
                            <a href="http://www.bbc.co.uk">Register</a>
                        </span>
                        </div>

                    <div class="grid-4 login right">
                        <span>
                            <a href="#">Staff Log-in</a>
                        </span>
                    </div>

                    <div class="grid-8 right">
                        <div class="directory grid-4">
                            <span>
                                <a href="#">A - Z Directory</a>
                            </span>
                        </div>

                        <div class="report grid-2">
                            <span>
                                <a href="#">Report</a>
                            </span>
                        </div>

                        <div class="pay grid-2">
                            <span>
                                <a href="#">Pay</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav grid-4 left">
                <span class="nav-title">Main Menu<span class="icon-expand"></span></span>

                <ul class="nav-list grid-8">
                        <li class="grid-2"><span class="first-row"><a href="http://www.bbc.co.uk" class="underline">Housing</a></span></li>
                        <li class="grid-2"><span class="first-row"><a href="#" class="underline">City Development &amp; Planning</a></span></li>
                        <li class="grid-2"><span class="first-row"><a href="#" class="underline">Health &amp; Social Care</a></span></li>
                        <li class="grid-2"><span class="first-row last-item"><a href="#" class="underline">Council Tax</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Benefits &amp; Supports</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Education &amp; Schools</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Community &amp; Environment</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Bin, Rubbish &amp; Recycling</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Park, Transport & Roads</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Events & Things To Do</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">Business</a></span></li>
                        <li class="grid-2"><span><a href="#" class="underline">The Council</a></span></li>
                    </ul>
            </div>
        </div>